
.App {
   
    height: 100vh;
}
.Logo {
    padding-top: 10px;

}
.bus-component {
    border: 2px solid #edc139;
    height: 120px;
    margin: 3px;
    width: 100%;
    border-radius: 10px;
    
}
.list-bus {
    display: flex;
    flex-wrap: wrap;
}
.list-bus > div {
    flex: 1 0 34%; /* or - flex: 0 50% - or - flex-basis: 50% - */
    /*demo*/
   
   
  }

.form-control:focus {
    border-color: #2a65ea;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(42, 101, 234, 0.6);
  }

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 6px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
.fs-15{
  font-size: 15px !important;
}

.fs-13{
  font-size: 13px !important;
}