
.App {
   
    height: 100vh;
}
.Logo {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bus-component {
    border: 2px solid #edc139;
    height: 120px;
    margin: 3px;
    width: 100%;
    border-radius: 10px;
    
}
.list-bus {
    display: flex;
    flex-wrap: wrap;
}
.list-bus > div {
    flex: 1 0 34%; /* or - flex: 0 50% - or - flex-basis: 50% - */
    /*demo*/
   
   
  }

.form-control:focus {
    border-color: #2a65ea;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(42, 101, 234, 0.6);
  }