@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
  margin: 0;
  
  padding: 10px;
  background-color: #1c2029;
  font-family: 'Varela Round', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.mapboxgl-ctrl-bottom-right, .mapboxgl-ctrl-bottom-left{
  visibility: hidden;
}
.bus-component h1 {
  padding: 3px 0px 0px 3px;
  font-size: 15px;
  margin: 0;
  color: white;
}
.bus-component p{

  font-size: 13px;
  padding-left: 3px;
  margin: 0;
  color: white;
}